<!DOCTYPE html>
<html>
	
	
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		{% load static %}
		<!-- script src="{% static "my_app/example.jpg" %}" alt="My image"/> -->
		<link rel="stylesheet" href="{% static "vocab/style.css" %}"/>
	</head>
	<body>
		<div id="add language">
			add language: 
			<input type="text" id="languageInput" />
			<button id="submitLanguage">submit
			
			</button>
		</div>
		
		<div id="load languages">
			load Languages
			
			<button id="loadLangButton">submit
			
			</button>
		</div>
			
		<div id="languagesList">
			language source 
			<select name="languages" id="langList">
				
			</select>
		</div>
		
		
		<div id="languagesListTarget">
			language target 
			<select name="languagesTarget" id="langListTarget">
				
			</select>
		</div>
		
		
		<div>
			<div id="newExpression">
				new expression
				<input type="text" id="newExpressionText" />
			</div>
			<div id="newExpressionTarget">
				new expression target
				<input type="text" id="newExpressionTargetText" />
			</div>
			<button id=submitExpression>submit single</button>
			<button id=submitExpressionWTrx>submit full</button>
		</div>
		
		
		<div>
			register user
			<div id="newUser">
				user name
				<input type="text" id="newUserText" />
				password
				<input type="text" id="newUserPassWordText" />
			</div>	
			<button id=btnAddUser>submit</button>
		</div>
		
		<div>
			log user on
			<div id="newUser">
				user name
				<input type="text" id="logUesrText" />
				password
				<input type="text" id="logPassText" />
			</div>	
			<button id=btnLogOn>submit</button>
		</div>
		
		
		<div>
			get logged in user info 
			<button id=btnLoggedInUserInfo>go</button>
			
		</div>
		
		
		
		
		
			
		
		<script>
			
			//TODO- get this info from configuration on runtime 
			var HOST = "http://localhost:8000";
			
			/**
			todo - each language should probably have its own categries, a category should be a subset of a language (consider 
			rename simply to "subsest" or simlirly )
			**/
			
			var loadedLists = {
				languages: null, 
				categories: null
			}
			
			var currentSelections = {
				language:null, 
				category: null,
				languageTarget: null
			}
			
			
			function debugQuick(msg){
				console.log(msg);
				alert(msg);
			}
			
			
			/**
			sensds request to server to add a new language 
			**/
			function submmitLanguage(){
				langStr = $("#languageInput").val();
				//validate new language input
				if(!langStr || langStr===""){
					debugQuick("empty or null language value");
					return;
				}
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'lang': langStr
				}
				
				$.ajax({
				  url: HOST + '/vocab/add-language',
				  
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			function addNewUser(){
				var userName = $("#newUserText").val();
				if(!userName || userName===""){
					debugQuick("empty or null userName value");
					return;
				}
				var password = $("#newUserPassWordText").val();
				
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'userName': userName,
					'password': password
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/register-user',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			function setPanelLoggedOn(userName){
				
			
			}
			
			
			
			function sendLogOn(){
				//TODO - add verficiations for username and password 
				userName=$("#logUesrText").val();
				password=$("#logPassText").val();
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'userName': userName,
					'password': password
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/log-user-on',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			sends a request to server to load all languages, than populates all the languages recived in the reply and populates them 
			in lists of available languages 
			**/
			
			function loadLangButton(){
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}"
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/load-languages',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					populateLanguagesListBox(data.loadedLangs);
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			buils 2 similar lists of languages, one for source and one for target of translation 
			**/
			function populateLanguagesListBox(languages){
				var $list = $("#langList");
				var $listTarget = $("#langListTarget");
				$list.empty();
				$listTarget.empty();
				currentSelections.language = null;
				currentSelections.languageTarget = null;
				for(i = 0; i < languages.length; i++){
					var newLelm = "<option value='" + languages[i].id + "'>" + languages[i].lang + "</option>";
					$list.append(newLelm);
					$listTarget.append(newLelm);
				}
				currentSelections.language = null;
			}
			
			
			/**
			sends new expression to server to be saved 
			**/
			function submitExpression(){
				newExpreesion = $("#newExpressionText").val();
				if (currentSelections.language == null || newExpreesion == null || newExpreesion == ""){
					debugQuick("please make sure that epxresson is not empty and langaue is selected");
					return;
				}
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'expression': newExpreesion, 
					'languageID' : currentSelections.language
				}
				
				$.ajax({
				 
				 url:HOST + '/vocab/add-expression', 
				  type:'POST',
				  data:post_data,
				  success:function(data){
					debugQuick(data);
					
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			sends a requet for logged on user form current browser
			**/
			function sendGetLoginInfo(){
				url = HOST + '/vocab/get-logon-status';
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}"
				}
				
				$.ajax({
				  url: url,
				  type:'POST',
				  data:post_data,
				  success:function(data){
					debugQuick(data);
					
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			}
			
			
			/**
			submits a pair of expressions that make a translation to server to be saved 
			**/
			
			function submitExpressionFull(){
				var newExpreesion = $("#newExpressionText").val();
				var newExpressionTarget = $("#newExpressionTargetText").val();
				if (currentSelections.language == null || newExpreesion == null || newExpreesion == "" ||
				currentSelections.languageTarget == null || newExpressionTarget == null || newExpressionTarget == ""
				){
					debugQuick("please make sure that epxresson is not empty and langaue is selected for both source and target");
					return;
				}
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'expression1': newExpreesion, 
					'languageID1' : currentSelections.language, 
					'expression2': newExpressionTarget, 
					'languageID2' : currentSelections.languageTarget
				}
				$.ajax({
				  url:HOST + '/vocab/add-expressions-full',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			}
			
		
			/**
			set up liseterners 
			**/
			$("#submitLanguage").click(
				submmitLanguage
			);
			
			$("#loadLangButton").click(
				loadLangButton
			);
			
			$("#btnAddUser").click(
				addNewUser
			);
			
			
			
			
			
			$("#langList").change(
				function(){
					//var selectedLanguageID = $(this).find('option:selected').text();
					var selectedLanguageID = $(this).find('option:selected').val();
					currentSelections.language = selectedLanguageID;
				}
			);
			
			$("#languagesListTarget").change(
				function(){
					//var selectedLanguageID = $(this).find('option:selected').text();
					var selectedLanguageID = $(this).find('option:selected').val();
					currentSelections.languageTarget = selectedLanguageID;
				}
			);
			
			
			$("#submitExpression").click(submitExpression);
			$("#submitExpressionWTrx").click(submitExpressionFull);
			$("#btnLoggedInUserInfo").click(sendGetLoginInfo);
			$("#btnLogOn").click(sendLogOn);
			
			
			
		</script>
	</body>
</html>
