<!DOCTYPE html>
<html>
	
	
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		
		{% load static %}
		<!-- script src="{% static "my_app/example.jpg" %}" alt="My image"/> -->
		<link rel="stylesheet" href="{% static "vocab/style.css" %}"/>
	</head>
	<body>
	
		<div class="panel1">
			<div id="add language">
				add language: 
				<input type="text" id="languageInput" />
				<button id="submitLanguage">submit
				
				</button>
			</div>
			
			<div id="load languages">
				load Languages
				
				<button id="loadLangButton">submit
				
				</button>
			</div>
				
			<div id="languagesList">
				language source 
				<select name="languages" id="langList">
					
				</select>
			</div>
			
			
			<div id="languagesListTarget">
				language target 
				<select name="languagesTarget" id="langListTarget">
					
				</select>
			</div>
		</div>
		
		
		<div class="panel1">
			<div id="add categories">
				add category: 
				<input type="text" id="textInputcategories" />
				<button id="submitInsertCategory">submit
				
				</button>
			</div>
			
			<div id="load categories">
				load categories
				
				<button id="btnLoadCategories">submit
				
				</button>
			</div>
				
		</div>
		
		
		
		
		<div  class="panel1">
			get logged in user info test
			<button id=btnLoggedInUserInfo>go</button>
			
		</div>
		
		
		<div class="panel1">
			<div id="newExpression">
				new expression
				<input type="text" id="newExpressionText" />
				<label for="inSrcWeight">weight(min 0.0, max 1.0)</label>
				<input type="number" id="inSrcWeight" name="inSrcWeight"
					min="0" max="1" step="0.05" value="0.5"/>
				<div>
					<button id="btnVisibilityCatsSrc">+-</button>
				</div>
				<div id=divSrcCats>
					<fieldset id="fieldSetSrcCats">  
						<legend>categories</legend>  
						<!-- <input type="checkbox" name="favorite_pet" value="Cats" >Cats<br> -->   
						<br>  
					</fieldset> 
				</div>
			</div>
			<div id="newExpressionTarget">
				new expression target
				<input type="text" id="newExpressionTargetText" />
				<label for="inTrgWeight">weight(min 0.0, max 1.0)</label>
				<input type="number" id="inTrgWeight" name="inTrgWeight"
					min="0" max="1" step="0.05" value="0.5"/>
				<div>
					<button id="btnVisibilityCatsTrg">+-</button>
				</div>
				<div id=divTrgCats>
					<fieldset id="fieldSetTrgCats">  
						<legend>categories</legend>  
						<!-- <input type="checkbox" name="favorite_pet" value="Cats" >Cats<br> -->   
						<br>  
					</fieldset> 
				</div>
			</div>
			<button id=submitExpression>submit single</button>
			<button id=submitExpressionWTrx>submit full</button>
		</div>
		
		
		<div id=divRegisterUser class="panel1">
			register user
			<div id="newUser">
				user name
				<input type="text" id="newUserText" />
				password
				<input type="text" id="newUserPassWordText" />
			</div>	
			<button id=btnAddUser>submit</button>
		</div>
		
		<div id=divLogIn class="panel1">
			log user on
			<div id="newUser">
				user name
				<input type="text" id="logUesrText" />
				password
				<input type="text" id="logPassText" />
			</div>	
			<button id=btnLogOn>submit</button>
		</div>
		
		<div id=divLoggedUser class="panel1" >
			logged on User: <div  id=divLoggedUserName></div>
			<button id=btnLogOff>log off</button>
		</div>
		
		<div id=divFileBrowser class="panel1" >
			<input type="file" style="display: none" id="inFile" />
			<button id=btnBrowsFiles>Open File Dialog</button>	
		</div>
		
		
			
		
		<script>
			
			
			//TODO- get this info from configuration on runtime 
			var HOST = "http://localhost:8000";
			var INPUT_GRP_SRC_EXP = "inputGroupSrcExp";
			var INPUT_GRP_TRG_EXP = "inputGroupTrgExp";
			/**
			todo - each language should probably have its own categries, a category should be a subset of a language (consider 
			rename simply to "subsest" or simlirly )
			**/
			
			
			
			
			
			
			
			var loadedLists = {
				languages: null, 
				categories: null
			}
			
			var currentSelections = {
				language:null, 
				category: null,
				languageTarget: null
			}
			
			
			function debugQuick(msg){
				console.log()
				console.log("--DEBUG--" + msg);
				//alert(msg);
			}
			
			
			//true inidicated visible and vice verca 
			var visStatus = {
				srcCats:true, 
				trgCats:true
			}
			
			function toggleVis(elmId, statusHandle){
				if(visStatus[statusHandle])
				{
					$("#" + elmId).hide();
					visStatus[statusHandle] = false;
					
				}
				else
				{
					$("#" + elmId).show();
					visStatus[statusHandle] = true;
				}
			}
			
			
			/**
			sensds request to server to add a new language 
			**/
			function submmitLanguage(){
				langStr = $("#languageInput").val();
				//validate new language input
				if(!langStr || langStr===""){
					debugQuick("empty or null language value");
					return;
				}
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'lang': langStr
				}
				
				$.ajax({
				  url: HOST + '/vocab/add-language',
				  
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			function addNewUser(){
				var userName = $("#newUserText").val();
				if(!userName || userName===""){
					debugQuick("empty or null userName value");
					return;
				}
				var password = $("#newUserPassWordText").val();
				
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'userName': userName,
					'password': password
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/register-user',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					if(data.success){
						setPanelLoggedOn(userName);
					}
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			
			
			
			
			function sendLogOn(){
				//TODO - add verficiations for username and password 
				userName=$("#logUesrText").val();
				password=$("#logPassText").val();
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'userName': userName,
					'password': password
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/log-user-on',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					if(data.success){
						setPanelLoggedOn(userName);
					}else{
						alert("log in failed");
						setPanelLoggedOff();
					}
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			sends a request to server to load all languages, than populates all the languages recived in the reply and populates them 
			in lists of available languages 
			**/
			
			function loadLangButton(){
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}"
				}
				
				$.ajax({
				  
				  url:HOST + '/vocab/load-languages',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					populateLanguagesListBox(data.loadedLangs);
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			buils 2 similar lists of languages, one for source and one for target of translation 
			**/
			function populateLanguagesListBox(languages){
				var $list = $("#langList");
				var $listTarget = $("#langListTarget");
				$list.empty();
				$listTarget.empty();
				currentSelections.language = null;
				currentSelections.languageTarget = null;
				for(i = 0; i < languages.length; i++){
					var newLelm = "<option value='" + languages[i].id + "'>" + languages[i].lang + "</option>";
					$list.append(newLelm);
					$listTarget.append(newLelm);
				}
				currentSelections.language = null;
			}
			
			
			/**
			sends new expression to server to be saved 
			**/
			function submitExpression(){
				newExpreesion = $("#newExpressionText").val();
				if (currentSelections.language == null || newExpreesion == null || newExpreesion == ""){
					debugQuick("please make sure that epxresson is not empty and langaue is selected");
					return;
				}
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'expression': newExpreesion, 
					'languageID' : currentSelections.language
				}
				
				$.ajax({
				 
				 url:HOST + '/vocab/add-expression', 
				  type:'POST',
				  data:post_data,
				  success:function(data){
					debugQuick(data);
					
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			/**
			sends a requet for logged on user info form current browser
			**/
			function sendGetLoginInfo(loggedOnInfoCallBack){
				url = HOST + '/vocab/get-logon-status';
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}"
				}
				
				$.ajax({
				  url: url,
				  type:'POST',
				  data:post_data,
				  /**
				  success:function(data){
					debugQuick(data);
					
				  },**/
				  success:loggedOnInfoCallBack,
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			}
			
			
			/**
			submits a pair of expressions that make a translation to server to be saved 
			**/
			
			function submitExpressionFull(){
				var newExpreesion = $("#newExpressionText").val();
				var newExpressionTarget = $("#newExpressionTargetText").val();
				if (currentSelections.language == null || newExpreesion == null || newExpreesion == "" ||
				currentSelections.languageTarget == null || newExpressionTarget == null || newExpressionTarget == ""
				){
					debugQuick("please make sure that epxresson is not empty and langaue is selected for both source and target");
					return;
				}
				var weight1=document.getElementById("inSrcWeight").value;
				var weight2=document.getElementById("inTrgWeight").value;
				var cats1 = listSelectedCats("inputGroupSrcExp");
				var cats2 = listSelectedCats("inputGroupTrgExp");
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'expression1': newExpreesion, 
					'languageID1' : currentSelections.language,
					'weight1' : weight1, 
					'cats1' : cats1, 
					'expression2': newExpressionTarget, 
					'languageID2' : currentSelections.languageTarget,
					'weight2' : weight2,
					'cats2' : cats2
				}
				$.ajax({
				  url:HOST + '/vocab/add-expressions-full',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			}
			
			
			/**
			set panel to given logged user
			**/
			function setPanelLoggedOn(userName){
				$("#divLoggedUser").show();
				$("#divLoggedUserName").append(userName);
				$("#divRegisterUser").hide();
				$("#divLogIn").hide();
			}
			
			/**
			set panel to no logged user
			**/
			
			function setPanelLoggedOff(){
				$("#divLoggedUser").hide();
				$("#divLoggedUserName").empty();
				$("#divRegisterUser").show();
				$("#newUserText").val("");
				$("#newUserPassWordText").val("");
				$("#divLogIn").show();
				$("#logUesrText").val("");
				$("#logPassText").val("");
			}
			
			/**
				get logged on Info from server and update pannels according to result
			**/
			function obtainLogOnInfo (){
				var callBack = function handleRsult(data){
					debugQuick(data);
					if(data.isLogged){
						setPanelLoggedOn(data.username);
					}else{
						setPanelLoggedOff();
					}
				}
				sendGetLoginInfo(callBack);
			}
			
			/**
			send request to log user off
			**/
			function sendLogOff(){
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
				}
				
				$.ajax({
				  url:HOST + '/vocab/log-user-off',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					debugQuick(data);
					setPanelLoggedOff();
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			/**
			sensds request to server insert a new category 
			**/
			function insertCategory(){
				newCat = $("#textInputcategories").val();
				//validate new category input
				if(!newCat || newCat===""){
					debugQuick("empty or null category value");
					return;
				}
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}", 
					'cat': newCat
				}
				
				$.ajax({
				  url: HOST + '/vocab/add-cat',
				  
				  type:'POST',
				  data:post_data,
				  success:function(data){
					//console.log(data);
					debugQuick(data);
					
				  },
				  error:function(error){
					//console.log(error);
					debugQuick(error.responseText);
				  }
				});
			
			}
			
			
			function loadCategories(){
				/**
				loads all categories from server
				**/
				
				
				
				var post_data = {
					'csrfmiddlewaretoken':"{{ csrf_token }}"
				}
				
				$.ajax({
				  url: HOST + '/vocab/load-cats',
				  type:'POST',
				  data:post_data,
				  success:function(data){
					debugQuick(data);
					handleLoadedCats(data);
				  },
				  error:function(error){
					debugQuick(error.responseText);
				  }
				});
			}
			
			
			function handleLoadedCats(catsData)
			{
				populateCats(catsData, $("#fieldSetSrcCats"), INPUT_GRP_SRC_EXP);
				populateCats(catsData, $("#fieldSetTrgCats"), INPUT_GRP_TRG_EXP);
			}
			
			function populateCats(catsData, domElmContainer, groupName){
			//id = newExpressionText
			//<input type="checkbox" name="favorite_pet" value="Cats" >Cats<br> 
				var catStr, catId, newDomElmStr
				catsList = catsData.loadedCats;
				for(var i = 0; i < catsList.length; i++)
				{
					catStr= catsList[i]["cat"];
					catId= catsList[i]["id"];
					newDomElmStr = 
					"<input type='checkbox' name= '" + groupName + "' value= '" + catId +  "'>" + catStr + "<br>"
					$(domElmContainer).append(newDomElmStr)
				}
			}
			
			function listSelectedCats(catsGroupName){
				var checkboxes = document.getElementsByName(catsGroupName);  
				var listOut = [];
				var val;
				for(var i = 0; i < checkboxes.length; i++)  
				{  
					if(checkboxes[i].checked)
					{
						val = checkboxes[i].value;  
						console.log("checked cat:" + val);
						listOut.push(val);
					}		
				} 
				return listOut;
			}
			
			
			function clickTest1(){
				listSelectedCats("fieldSetSrcCats");
			
			}
			
		
			/**
			set up liseterners 
			**/
			$("#submitLanguage").click(
				submmitLanguage
			);
			
			$("#loadLangButton").click(
				loadLangButton
			);
			
			$("#btnAddUser").click(
				addNewUser
			);
			
			$("#btnLogOff").click(
				sendLogOff
			);
			
			
			$("#submitInsertCategory").click(
				insertCategory
			);
			
			$("#btnLoadCategories").click(
				loadCategories
			);
			
			$("#btnTest1").click(
				clickTest1
			);
			
			$("#btnVisibilityCatsSrc").click(
				function()
				{
					toggleVis("divSrcCats", "srcCats");
				}
			);
			
			$("#btnVisibilityCatsTrg").click(
				function()
				{
					toggleVis("divTrgCats", "trgCats");
				}
			);
			
			
			$("#btnBrowsFiles").on("click", function() {
                $("input").trigger("click");
            });
			
			$("#inFile").change(function()
			{
				var fileName = $(this).val();
				alert(fileName)
			}
			);
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			$("#langList").change(
				function(){
					//var selectedLanguageID = $(this).find('option:selected').text();
					var selectedLanguageID = $(this).find('option:selected').val();
					currentSelections.language = selectedLanguageID;
				}
			);
			
			$("#languagesListTarget").change(
				function(){
					//var selectedLanguageID = $(this).find('option:selected').text();
					var selectedLanguageID = $(this).find('option:selected').val();
					currentSelections.languageTarget = selectedLanguageID;
				}
			);
			
			
			$("#submitExpression").click(submitExpression);
			$("#submitExpressionWTrx").click(submitExpressionFull);
			//$("#btnLoggedInUserInfo").click(sendGetLoginInfo);
			$("#btnLoggedInUserInfo").click(obtainLogOnInfo);
			$("#btnLogOn").click(sendLogOn);
			
			
			//when page first opens, get the logged on info from server 
			obtainLogOnInfo();
			
			
		</script>
	</body>
</html>
